
# dependencies
/backend/node_modules
/backend/.pnp
/backend.pnp.js

# testing
/backend/coverage

# production
/backend/build

# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local

/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/frontend/yarn.lock
# .env

# Logs
/frontend/build
/frontend/logs
/frontend/*.log
/frontend/*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
/frontend/.vercel
/frontend/yarn.lock


/service-in-out/unit/video

/service-in-out/myenv

